body {
    background-color: #fff0f5;
    text-align: left;
    font-family: Arial, sans-serif;
}

img {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    display: block;
}

h1 {
    color: #f28ab2;
}

h2, p, ul {
    color: #b33951;
}